{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

        .ptag{
            margin-top: 20px;
            font-size: 20px;
            font-weight: bolder;
            /* font-family: 'Ubuntu', sans-serif; */
        }

        body {
            background-image: url("{% static 'images/wave1.jpg' %}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            font-family: 'Ubuntu', sans-serif;
        }
        .main{
            
            top: 100px;
            left: 330px;
            width: 700px;
            background-color:#ffffff;
            border-radius: 10px;
            align-items: center;
            padding: 5%;
        }
        h1{
            color: #0086b3;
            font-size: 30px;
            font-weight: bold;
        }
        input[type=submit]{
            background-color: #4dc3ff;
            border: 2px;
            color: white;
            padding: 8px 16px;
            cursor: pointer;
            margin-top: 15px;
        }

        .heart{
    /* position: absolute; */
    height: 100%;
    vertical-align: text-bottom;
    width: 100%;
    margin-top: 500px;

}

                    @media only screen and (min-width: 900px){

            .main{
            position: fixed;

            top: 100px;
            left: 270px;
            width: 500px;
            background-color:#ffffff;
            border-radius: 10px;
            align-items: center;
            padding: 5%;
            }



            }

                        @media only screen and (min-width: 1200px){

                            .main{
            position: fixed;
            
            top: 100px;
            left: 330px;
            width: 700px;
            background-color:#ffffff;
            border-radius: 10px;
            align-items: center;
            padding: 5%;
        }



            }

        @media only screen and (max-width: 900px){

            .main{
            /* position: fixed; */
            
            top: 100px;
            left: 200px;
            width: 400px;
            background-color:#ffffff;
            border-radius: 10px;
            align-items: center;
            padding: 5%;
        }

        

        }
        @media only screen and (max-width: 750px){

            .main{
            position: fixed;

            top: 150px;
            left: 150px;
            width: 400px;
            background-color:#ffffff;
            border-radius: 10px;
            align-items: center;
            padding: 5%;
            }

            h1{
            color: #0086b3;
            font-size: 20px;
            font-weight: bold;
        }



}

            @media only screen and (max-width: 600px){

            .main{
            /* position: fixed; */

            top:  240px;
            left: 80px;
            width: 400px;
            background-color:#ffffff;
            border-radius: 10px;
            align-items: center;
            padding: 5%;
            }

            h1{
            color: #0086b3;
            font-size: 20px;
            font-weight: bold;
            }



            }

                        @media only screen and (max-width: 400px){

            .main{
            position: fixed;

            top:  100px;
            left: 80px;
            width: 380px;
            background-color:#ffffff;
            border-radius: 10px;
            align-items: center;
            padding: 5%;
            }

            h1{
            color: #0086b3;
            font-size: 20px;
            font-weight: bold;
            }



            }
                        @media only screen and (max-width: 500px){

            .main{
            position: relative;

            top: 240px;
            left: 40px;
            width: 400px;
            height: 400px;
            background-color:#ffffff;
            border-radius: 10px;
            align-items: center;
            padding: 5%;
            }

            h1{
            color: #0086b3;
            font-size: 20px;
            font-weight: bold;
            }



            }

                        @media only screen and (max-width: 450px){

            .main{
            position: fixed;

            top: 240px;
            left: 30px;
            width: 380px;
            height: 400px;
            background-color:#ffffff;
            border-radius: 10px;
            align-items: center;
            padding: 5%;
            }

            h1{
            color: #0086b3;
            font-size: 20px;
            font-weight: bold;
            }

            }
            @media only screen and (max-width: 400px){

        .main{
        position: fixed;

        top: 180px;
        left: 30px;
        width: 325px;
        height: 400px;
        background-color:#ffffff;
        border-radius: 10px;
        align-items: center;
        padding: 5%;
        }

        body{
            font-size: 13px;
        }

        h1{
        color: #0086b3;
        font-size: 15px;
        font-weight: bold;
        }

        }
                @media only screen and (max-width: 350px){

        .main{
        position: fixed;

        top: 180px;
        left: 28px;
        width: 270px;
        height: 360px;
        background-color:#ffffff;
        border-radius: 10px;
        align-items: center;
        padding: 5%;
        }

        body{
            font-size: 10px;
        }

        h1{
        color: #0086b3;
        font-size: 15px;
        font-weight: bold;
        }

        



        }

    .wp{
        color: green;
        font-size: 30px;
    }
       

</style>

<body>
    <p class="ptag" align='center' >Welcome to the About Page</p>
 
    <div align='center' class="main">

        <p>The motive of this webapp is to spread awareness about diagnosis of Diabetes at early stage so that it can be cured easily
            . Diabetes mellitues is a syndrome characterized by metabolic disorder and abnormal rise in the concentration of Blood
            sugar caused due to insulin deficiency , the reason for this is unhealthy life style and history of relatives and the genetic relationship
            of those relatives to the subject. So for early diagnosis of it to reduce the required cost and the valuable
            time of people , the proposed system is effective with an accuracy of 80% and the dataset used is Pima Indians Diabetes Dataset.
            The webapp will have more features in upcomming time so stay tune me. 
        </p>
        <br>
        <p>" EVERY DAY IS ANOTHER CHANCE TO GET STRONGER TO EAT BETTER TO LIVE HEALTHIER AND TO BE THE BEST VERSION OF YOU" </p>
    <br>
        <p class="manage">Created and Managed by Dwijal Gaikwad</p>
        
        <a class="wp" href="https://api.whatsapp.com/send?phone=917738889904"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
    </div>
    

    <p class="heart"> <b>| |</b>  Made with <i class="fa fa-heart" style="font-size:15px;color:red"></i>  by Dwijal    <b> | |</b> </p>
    
 </body>
    
{% endblock content %}
    